html {
  font-size: 24px;
  font-family:"Lucida Console", monospace;
  background-image: url('images/bk20.jpg'); /* Replace with your image path */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Makes the image cover the entire viewport */
  background-position: center;

}

.main {
  font-size: 2.5rem;
  display: block;
  vertical-align: top;
  color: white;

}

.one {
  background-color: rgba(251, 161, 183);
  border: 5px solid white;
  position: relative;
  top: -10px;
  width: 600px;
  height: 90px;
  z-index: 1;
  text-align: center;
  vertical-align: middle;
  line-height: 0px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /

  
}

.two {
  font-size: 50px;
  background-color: rgba(254,95,136);
  border: 5px solid white;
  position: relative;
  width: 100px;
  height: 50px;
  top: -60px;
  left: 950px;
   z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /
}

.three {
  font-size: 40px;
  background-color: rgba(251, 161, 183);
  border: 5px solid white;
  position: relative;
  width: 100px;
  height: 50px;
  top: 50px;
  left: 0px;
   z-index: 2;
  display: flex;
  align-items: center; /
}

.four {
  font-size: 20px;
  background-color: rgba(225, 149, 171);
  border: 5px solid white;
  position: relative;
  width: 1405px;
  height: 300px;
  top: 70px;
  left: 0px;
   z-index: 2;
  display: flex;
}

.five {
  font-size: 30px;
  background-color: rgba(255, 204, 225);
  border: 5px solid rgba(255, 204, 225);
  position: relative;
  width: 180px;
  height: 50px;
  top: -20px;
  left: 1200px;
   z-index: 5;
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center; /
}

.six {
img {
  position: relative;    
  top: -193px;             
  left: 1175px;            
  width: 200px;          
  height: auto;  
  z-index: 6;/
}


.seven {
  font-size: 30px;
  background-color: rgba(225, 149, 171);
  border: 5px solid white;
  position: relative;
  width: 1405px;
  height: 300px;
  top: 70px;
  left: 0px;
   z-index: 2;
  display: flex;
}






