html {
  font-size: 24px;
  font-family:"Lucida Console", monospace;
}

.main {
  font-size: 2.5rem;
  color: white;
  border: 10px solid fuchsia;
  display: block;
  vertical-align: top;

}

.one {
  background-color: violet;
  position: relative;
  top: -10px;
  width: 600px;
  height: 90px;
  z-index: 1;
  text-align: center;
  vertical-align: middle;
  line-height: 0px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /

  
}

.two {
  font-size: 50px;
  background-color: violet;
  position: relative;
  width: 100px;
  height: 50px;
  top: -60px;
  left: 950px;
   z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /
}

.three {
  font-size: 40px;
  background-color: violet;
  position: relative;
  width: 100px;
  height: 50px;
  top: 50px;
  left: 0px;
   z-index: 2;
  display: flex;
  align-items: center; /
}

.four {
  font-size: 20px;
  background-color: violet;
  position: relative;
  width: 1405px;
  height: 300px;
  top: 100px;
  left: 0px;
   z-index: 2;
  display: flex;
}

.five {
  font-size: 30px;
  background-color: violet;
  position: relative;
  width: 150px;
  height: 50px;
  top: 10px;
  left: 1200px;
   z-index: 5;
  display: flex;
  align-items: center; /
}

.six {
img {
  position: relative;    /* Required for `top` and `left` to work */
  top: -120px;             /* Moves the image down */
  left: 1115px;            /* Moves the image to the right */
  width: 200px;          /* Sets the new width */
  height: auto;  
  z-index: 6;

       /* Maintains aspect ratio */
}
}





